*.tar.gz
.cache/
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
.recentf
.recentf~
.smex-items
abbrev_defs
auto-save-list/
backups/
cider-history
eclipse.jdt.ls/
elpa/
elpy/
ido.last
ido.last~
projectile-bookmarks.eld
projectile.cache
request/
transient/
url/
workspace/
