.cache/
.dap-breakpoints
.mc-lists.el
.recentf
.smex-items
auto-save-list/
backups/
cider-history
elpa/
ido.last
projectile-bookmarks.eld
projectile.cache
transient/
.lsp-session-v1
abbrev_defs
eclipse.jdt.ls/
workspace/