*.tar.gz
!elpa.tar.gz
.cache/
.dap-breakpoints
.extension/
.lsp-session-v1
.mc-lists.el
.recentf
.recentf~
.smex-items
abbrev_defs
auto-save-list/
backups/
cider-history
eclipse.jdt.ls/
eln-cache/
elpa/
elpy/
emacs.desktop
eshell/
ido.last
ido.last~
lock
network-security.data
projectile-bookmarks.eld
projectile.cache
projects
quelpa/
request/
transient/
url/
workspace/
customizations/#ui.el#
init.el~